<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="Database.xml"/>

    <!-- DAOs -->
    <bean id="userDao" class="cashregister.dao.UserDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="productDefinitionDao" class="cashregister.dao.ProductDefinitionDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="receiptDao" class="cashregister.dao.ReceiptDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="customerDao" class="cashregister.dao.CustomerDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="paymendCardDao" class="cashregister.dao.PaymentCardDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Modules -->
    <bean id="authenticationModule" class="cashregister.modules.AuthenticationModule" autowire="constructor" />
    <bean id="barcodeChecker" class="cashregister.modules.BarcodeChecker" autowire="constructor" />
    <bean id="customerModule" class="cashregister.modules.CustomerModule" autowire="constructor" />
    <bean id="paymentModule" class="cashregister.modules.PaymentModule" autowire="constructor" />
    <bean id="productsListModule" class="cashregister.modules.ProductsListModule" autowire="constructor" />
    <bean id="productDefinitionModule" class="cashregister.modules.ProductDefinitionModule" autowire="constructor" />
    <bean id="userModule" class="cashregister.modules.UserModule" autowire="constructor" />
    <bean id="mailSender" class="cashregister.modules.MailSenderModule" autowire="constructor" />
    <bean id="paperReceipt" class="cashregister.modules.PaperReceiptCreator" autowire="constructor" />

</beans>